# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  scheme: 'InAppBrowserTests'
  sdk: 'iphoneos'
  configuration: 'Debug'

pool:
  vmImage: 'macOS'

stages:
  - stage: Prepare
    jobs:
      - job: NPM
        displayName: 'npm install'
        steps:
        - task: NodeTool@0
          inputs:
            versionSpec: '10.x'
          displayName: 'Install Node.js'
        - checkout: self
        - script: npm install
          workingDirectory: tests/ios
  - stage: Build
    jobs:
      - job: Build
        steps:
          - task: Xcode@5
            inputs:
              actions: 'build'
              sdk: '$(sdk)'
              scheme: '$(scheme)'
              configuration: '$(configuration)'
              xcodeVersion: 'default' # Options: default, 10, 9, 8, specifyPath
              xcWorkspacePath: 'test/ios/InAppBrowserTests/*.xcodeproj/project.xcworkspace'
              exportPath: '$(agent.buildDirectory)/output/$(sdk)/$(configuration)'
              packageApp: false