# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

variables:
  scheme: 'InAppBrowserTests'
  sdk: 'iphoneos'
  configuration: 'Debug'

trigger:
- master
- pr

pool:
  vmImage: 'macOS 10.15'

stages:
  - stage: Prepare
    jobs:
      - job: NPM
        displayName: 'npm install'
        steps:
        - task: NodeTool@0
          inputs:
            versionSpec: '10.x'
          displayName: 'Install Node.js'
        - script: cd tests/ios & npm install